@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Onest:wght@100..900&display=swap');
@import "tailwindcss";
@layer components{
  
}

:root {
  --background: var(--yellow);
  --foreground: #171717;
  --purple: #C123FA;
  --darkpurple: #450693;
  --pink: #FF3F7F;
  --barbiepink: #de89be;
  --babypink: #fdcff3;
  --beige: #efd6d2;
  --yellow: #E9EB9E;
  --cyan: #E4FDE1;
  --lime: #DAFF7D;
  --lightlime: #b2ef9b;

  --fontcolor:  rgb(240, 248, 255);
  --mid: 30px;
  --small: 10px;
  --shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --darkershadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  --lighterpurple: rgba(9, 9, 9, 0.2);
  --whiteFontColor:rgb(166, 149, 177);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #c123fa;
  }
}

body {
  background: var(--foreground);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: var(--foreground);
  font-family: "Onest",sans-serif, Arial, Helvetica, sans-serif;
}

.profilesGrid{
  display: flex;
  flex-wrap: wrap;
  margin: 0 1em 1em 0;
  padding: 0;
  gap: 0;

}

.container {
  background-color: var(--darkpurple);
  max-width: 480px;  
  width: 100%;
  min-height: 100vh;
}

.ad-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  margin: 0;
}